  

.nav {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-left: 5px;
	font-size: 24px;
	gap: 20px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: black;
	background-color: rgb(161, 197, 226);
	border-bottom: solid 1px gray;
}



.nav-link {
	color: rgb(59, 47, 47);
	text-decoration: underline;
	text-decoration-thickness: 1px
}


.navbar {
	border-bottom: none;
}




body {
	background-color: rgb(205, 227, 233);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* Para esticar o conteúdo verticalmente */
}


.loguin-img {

	width: auto;
	height: 40px;
	min-height: var(--size-height-small);
	padding: 4px;
	margin-left: 300px;
	margin-right: 20px;
	/* espaço à direita da imagem */
}



@media (max-width: 1300px) {
	.loguin-img {
		margin-left: 0;
		margin-right: 0;
	}
}

   
 

.loguin-img2 {
    justify-content: left;
    margin-right: auto;
    width: 180px;
    height: auto;
    display: block;
}

 
 
.font-increase {
    font-size: 18px;
}



html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: rgb(151, 194, 229);
    text-align: center;
    padding: 5px;
    font-size: 14px;
    color: black;
    border-top: solid 1px gray;
}


.create-account {
    color: red;
}